.login {
  min-height: calc(100vh - 56px);
}

.bg-image {
 background-image: url('login.jpg');
 background-size: cover;
 background-position: center;
 }

.login-heading {
 font-weight: 300;
 }

.btn-login {
 font-size: 0.9rem;
 letter-spacing: 0.05rem;
 padding: 0.75rem 1rem;
 }

.my-container{
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

#register-here {
	color: #3598dc;
	text-decoration: underline;
}

#register-here:hover {
	text-decoration: none;
}
